target/

# sbt-slamdata common resources
/scripts/checkAndAutoMerge
/scripts/commonSetup
/scripts/discordTravisPost
/scripts/isRevision
/scripts/listLabels
/scripts/closePR
/scripts/publishAndTag
/scripts/readVersion
*.swp
*.swo
/core/src/test/resources/bad-auth-file.json
/core/src/test/resources/precog-ci-275718-9de94866bc77.json
